<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
{{ with .Site.Author }}
<meta name="author" content="{{ . }}">
{{ end }}
{{ with .Site.Params.description }}
<meta name="description" content="{{ . }}">
{{ end }}
{{ with .Site.Params.favicon }}
<link rel="shortcut icon" href="/images/{{ . }}" />
{{ end }}
<meta name="keywords" content="{{ delimit .Keywords ", " }}">
<title>{{ .Title }}</title>

<link href="/index.xml" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
<link href="/index.xml" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />

<link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.0/css/bulma.min.css" rel="stylesheet" type="text/css">
<link href="  https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="/css/style.css" rel="stylesheet" type="text/css">

{{ template "_internal/google_analytics_async.html" . }}