<nav class="nav has-shadow">
  <div class="nav-left">
    <span id="toggle__menu" class="nav-toggle">
      <span></span>
      <span></span>
      <span></span>
    </span>
    <a href="/index.html" class="nav-item">Dailydreamer's Space</a>
  </div>

  <div class="nav-center">
    <a class="nav-item" href="{{ .Site.Params.github }}">
      <span class="icon">
        <i class="fa fa-github"></i>
      </span>
    </a>
    <a class="nav-item" href="/index.xml" type="application/rss+xml">
      <span class="icon">
        <i class="fa fa-rss"></i>
      </span>
    </a>
  </div>
</nav>