<aside id="sidebar">
  <nav id="tags">
    <a href="/index.html" id="avatar" style="background-image:url({{ .Site.BaseURL }}/images/{{ .Site.Params.avatar }})"></a>

    <ul id="tags__ul">
      <li id="pl__all" class="tags__li tags-btn active">所有文章</li>
      {{ range $category, $posts := .Site.Taxonomies.categories }}
        <li id="{{ $category }}" class="tags__li tags-btn">{{ $category }}</li>
      {{ end }}
    </ul>

    <ul>
      {{ range $tag, $posts := .Site.Taxonomies.tags }}
        <li id="{{ $tag }}" class="tags__li tags-btn">{{ $tag }}</li>
      {{ end }}
    </ul>

    <div id="tags__bottom">
      <a href="{{ .RSSLink }}" type="application/rss+xml" id="icon-rss" class="tags-btn fontello"></a>
      <a href="{{ .Site.Params.github }}" id="icon-github-circled" class="tags-btn fontello"></a>
    </div>
  </nav>

  <div id="posts-list">
    <nav id="pl__container">
    {{ range .Data.Pages }}
      <li>
      <a href="{{ .Permalink }}">{{ .Title }}</a>
      <div class="meta">{{ .Date.Format "Jan 2, 2006" }}</div>
      </li>
    {{ end }}
    </nav>
  </div>
</aside>