<aside>
  <nav class="sidebar">
    <div id="tags__ul">
      <a id="all_posts" class="tag is-rounded is-primary">
        全部 
        <span class="tag-count">{{ sub (len (where .Site.Pages "Type" "posts")) 1 }}</span>
      </a>
      {{ range .Site.Taxonomies.tags.ByCount }}
      <a id="{{ .Term }}" class="tag is-rounded">
        {{ .Term }} 
        <span class="tag-count">{{ .Count }}</span>
      </a>
      {{ end }}
    </div>

    <div class="menu">
      <ul id="posts__ul" class="menu-list">
        {{ range (where .Site.Pages "Type" "posts") }}
        {{ if ne .Title "Posts" }}
        <li class="all_posts {{ (delimit .Params.tags " ") | lower }}">
          <a href="{{ .Permalink }}">
            <span class="posts-title">{{ .Title }}</span>
            <span class="posts-date">{{ .Date.Format "Jan, 2006" }}</span>
          </a>
        </li>
        {{ end }}
        {{ end }}
      </ul>
    </div>
  </nav>
</aside>