<!DOCTYPE html>
<html>
<head>
  {{ partial "header.html" . }}
</head>
<body>
  {{ partial "nav.html" . }}      

  <div id="container">
    {{ partial "sidebar.html" . }}
    <article>
      <div class="content post">
        <h1 data-identifier="{{ dateFormat "2006-01-02" .Date }}">{{ .Title }}</h1>
        {{ .Content }}
        {{ partial "disqus.html" . }}
      </div>      
    </article>
  </div>
  
  <link href="  https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
  <script src="/js/script.js"></script>
  {{ partial "highlightjs.html" . }}
  {{ template "_internal/google_analytics.html" . }}
</body>
</html>
