<!DOCTYPE html>
<html>
<head>
  {{ partial "header.html" . }}
</head>
<body>
  <div class="columns">
    {{ partial "nav.html" . }}

    <article class="content">
      <h1 data-identifier="{{ dateFormat "2006-01-02" .Date }}">{{ .Title }}</h1>
      {{ .Content }}
      {{ partial "disqus.html" . }}      
    </article>
  </div>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.2.0/zepto.min.js"></script>
  <script src="/js/script.js"></script>
  {{ partial "highlightjs.html" . }}
  {{ template "_internal/google_analytics.html" . }}
</body>
</html>
