<!DOCTYPE html>
<html>
<head>
  {{ partial "header.html" . }}
</head>
<body>
  <div>
  {{ partial "nav.html" . }}
  </div>
  <div id="post">
    <div id="pjax">
      <article id="post__content">
        <h1 id="post__title" data-identifier="{{ dateFormat "2006-01-02" .Date }}">{{ .Title }}</h1>
        {{ .Content }}
      </article> <!-- end #post__content -->
      {{ partial "disqus.html" . }}
    </div> <!-- end #pjax -->
  </div> <!-- end #post -->
  {{ partial "highlightjs.html" . }}
  {{ template "_internal/google_analytics.html" . }}
</body>
</html>
